<aside class=" rounded-2">
    <div class="" id="navbarNav">
        <ul class="list-unstyled ps-5 " >
            <li class="my-4">
                <a routerLink="/games" routerLinkActive="active" class="text-decoration-none "> Our Games</a>
            </li>
            <li class=" my-4 ">
                <a routerLink="/MostPopular" routerLinkActive="active" class="text-decoration-none">most popular</a>
            </li>
            <li class=" my-4">
                <a routerLink="ReleasedLastMonth" routerLinkActive="active" class="text-decoration-none">released last month</a>
            </li>  <li class="my-4 ">
                <a routerLink="/upcomingGames" routerLinkActive="active" class="text-decoration-none">upcoming games</a>
            </li>  <li class="my-4 ">
                <a routerLink="/highestRated" routerLinkActive="active" class="text-decoration-none">highest rated</a>
            </li>
        </ul>
    </div> 

</aside>
