*{
    /* outline: 2px solid red; */
}
h4{
    color: rgb(212, 212, 218);
    font-weight: 700;
    font-family: "Anton SC", sans-serif;
     font-weight: 300;
     letter-spacing:5px;
}
h4:hover{
    color: aliceblue;
}

input{
    background-color: #2c3e50;
    color: rgb(212, 212, 218);
}