<div class="row  px-3 game-container justify-content-center ">
    @for (game of upcomingGames |search:searchText; track $index) {
        <div class="col-lg-4 col-md-6 col-sm-10  shadow   rounded-0   ">
            <div class="card game-card">
                <img [src]='game.background_image'  alt={{game.name}}  class="  border-0 w-100">
                <div class="game-info p-4  my-2">
                <h4 class="border-bottom pb-2">  {{game.name}}</h4>
                <p class="" > playtime: {{game.playtime}}</p>
                <p>Rating: {{ game.rating }} / {{ game.rating_top }}</p>
                <p>Metacritic: {{ game.metacritic }}</p> 
            </div>
        </div>
        </div>

    }
</div>